<table class="table">
	<thead>
		<tr>
			<th>Book ID</th>
			<th> Book title</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in items">
			<td> {{ item.id }} </td>
			<td> {{ item.title }}</td>
			<td> <a ng-href="/book/{{item.id}}"> <span class="glyphicon glyphicon-eye-open"></span></td>
		</tr>
		
	</tbody>
</table>