<table class="table">
	<thead>
		<tr>
			<td> Field </td>
			<td> Value </td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th> ID </th>
			<td> {{ item.id }} </td>
		</tr>
		<tr>
			<th> Title </th>
			<td> {{ item.title }} </td>
		</tr>
		<tr>
			<th> Desc </th>
			<td> {{ item.desc }} </td>
		</tr>
	</tbody>
</table>

<a class="btn" ng-href="/books"><span class="glyphicon glyphicon-arrow-left"> Назад</a>