<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-repeat="link in links"><a ng-href="{{ link.route }}"> {{ link.title }}</a></li>
      </ul>	    
    </div>
  </div>
</nav>